 @model SearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>To Do Jobs</h1>

<p>
    <a asp-action="Create"> Add a new task</a>

</p>
<p>
    @if (Model.ShowAll)
    {
    <a asp-action="Index" asp-route-showall="false"> Show All</a>
    }
    else
    {
<a asp-action="Index" asp-route-showall="true"> Show InCompleted</a>
    }


</p>

<form asp-action="Index" asp-controller="Todo" method="get">
    <div class="form-group">
        <label asp-for="SearchText" class="control-label"></label>
        <input asp-for="SearchText" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="ShowAll" class="control-label"></label>
        <input asp-for="ShowAll" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="DesSearch" class="control-label"></label>
        <input asp-for="DesSearch" class="form-control" />

    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Catagory
            </th>
            <th>
                Title
            </th>


            <th>
                DueDate
            </th>
            <th>
               RemainingHour
            </th>
            <th>
               IsCompleted
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Result) {


        <tr>
            @if (item.IsCompleted == false)
            {
        <td>
            @Html.DisplayFor(modelItem => item.Catagory.Name)
        </td>
        }
        else
        {
        <td>
            <del>@Html.DisplayFor(modelItem => item.Catagory.Name)</del>
        </td>

        }
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remaininghour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>

            <td>
                @if (item.IsCompleted == true)
                {<a asp-action="InComplete" asp-route-id="@item.Id" asp-route-showAll="@Model.ShowAll">InComplete</a> }
                else
                { <a asp-action="Complete" asp-route-id="@item.Id" asp-route-showAll="@Model.ShowAll">Complete</a>}


                | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
